---
import "@styles/global.css";
interface Props {
  title: string;
  back?: string; // Si necesitas botón de volver
  
  // Open Graph básicos
  description?: string;
  image?: string;
  url?: string;
  type?: string;
  
  // Open Graph opcionales
  siteName?: string;
  locale?: string;
  
  // Twitter Cards (recomendado)
  twitterCard?: 'summary' | 'summary_large_image' | 'app' | 'player';
  twitterCreator?: string;
  twitterSite?: string;
}

const { 
  title,
  back = false,
  
  // Open Graph
  description = 'iDwin Store - Tu tienda de confianza para iPhones reacondicionados',
  image = '/idwin_logo.jpg',
  url = Astro.url.href,
  type = 'website',
  
  siteName = 'iDwin Store',
  locale = 'es_ES',
  
  // Twitter
  twitterCard = 'summary_large_image',
  twitterCreator = '@1nfinit0',
  twitterSite = '@1nfinit0',
} = Astro.props;

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js" is:inline></script>
  </head>
  <body>
    <slot />
  </body>
  <script is:inline>
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
      document.documentElement.classList.add(savedTheme);
    }

    window.setTheme = (theme) => {
      document.documentElement.className = theme;
      localStorage.setItem("theme", theme);
    };
    
  </script>
</html>
